
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zan:before { content: "\e600"; }
.icon-youjiantou:before { content: "\e601"; }
.icon-shouji:before { content: "\e602"; }
.icon-share:before { content: "\e60c"; }
.icon-time:before { content: "\e60a"; }
.icon-nichengyutouxiang:before { content: "\e605"; }
.icon-jiantou:before { content: "\e606"; }
.icon-icon06:before { content: "\e60b"; }
.icon-14qi:before { content: "\e60d"; }
.icon-15zhong:before { content: "\e60e"; }
.icon-duihao:before { content: "\e607"; }
.icon-guanbi:before { content: "\e608"; }
.icon-laidian:before { content: "\e609"; }
