[submodule "tingle/tingle-style"]
	path = tingle/tingle-style
	url = https://github.com/tinglejs/tingle-style.git
[submodule "tingle/tingle-context"]
	path = tingle/tingle-context
	url = git@github.com:tinglejs/tingle-context.git
